# Copyright 2026 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

name: sync-labels

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/labels.yaml

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write # for creating and updating labels.
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Sync labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
          token: ${{ secrets.GITHUB_TOKEN }}
